@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: rgb(40, 46, 52);
}

*{
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}